<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}首页{% endblock %}</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css">
  {% block css %}
  <style>
      body{
          margin: 0;
      }
      a{
          text-decoration:none;
          color: #030303;
      }
      a:hover{
          text-decoration: none;
          color: #030303;
      }
    .goods{
        margin: 0 12px 20px 0;
        width: 188px;
        border: 1px solid #eee;
        background: #fff;
    }

    .goodsImg{
	    width: 188px;
        height: 170px;
        overflow: hidden;
	    text-align: center;
    }
    .goodsImg>img{
        width: 170px;
    }
    .info{
	    padding: 10px;
    }
  </style>
  {% endblock %}
</head>
<script>
    $(document).ready(function(){
        $("#submit").click(function(){
            $.get("/login",$("#loginForm").serialize(),function(result,status){
                if(result=="OK")
                    window.location.reload();
                else{
                    r='<div class="alert alert-danger">\n' +
                    '\t                <a class="close" data-dismiss="alert">×</a>\n' +
                    '                    <span>'+ result +'</span>\n' +
                    '\t            </div>'
                    $("#logData").html(r);
                    //toastr.error(result);
                }
            });
        });
    });
</script>

<body>
<nav class="navbar navbar-expand-sm bg-danger navbar-dark">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">首页<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <a class="text-white" data-toggle="modal" data-target="#myModal" style="cursor: pointer">{{username}}</a>
    </div>
</nav>
{% block body %}
<div class="container" style="margin-top: 30px">
	<div class="row">
        {% for row in shops %}
		<div class="goods">
            <a href="/shop?id={{row.id}}" target="_blank">
        	    <div class="goodsImg">
        		    <img src="{{row.img}}">
                </div>
                <div class="info">
            	    <p style="margin: 0;"><strong style="color: red">￥{{ row.price }}</strong></p>
                    <p style="font-size: 12px;height: 15px;overflow: hidden;margin: 0" title="{{row.name}}">{{ row.name }}</p>
                    <p style="margin: 0;color:#999;font-size: 12px">{{row.shop}}</p>
                </div>
            </a>
        </div>
        {% endfor %}}
	</div>

{% endblock %}



    <!-- 模态框 -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- 模态框头部 -->
        <div class="modal-header">
          <h4 class="modal-title">登录</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- 模态框主体 -->
        <div class="modal-body">
          <form action="javascript:;" class="form-group" id="loginForm">
              <input class="form-control" name="username" type="text" placeholder="用户名">
              <p></p>
              <input class="form-control" name="password" type="password" placeholder="密码">
              <p></p>
              <p id="logData"></p>
              <p></p>
              <p><a href="/register" style="color: #0d71bb">注册</a></p>
              <p></p>
                <input id="submit" class="btn btn-danger btn-block" type="submit" value="登录">
          </form>
        </div>
      </div>
    </div>
  </div>
    <!--end 模态框-->

</div>
<div class="text-center" style="margin:0;padding:10px;background:#eee">
    <pre>销售热线：400-886-0051  027-8781xxxx
客服热线：400-620-xxxx
Email：club@nb.com（个人）
hr@51nb.com（公司）</pre>
</div>

</body>
    {% block script %}
    {% endblock %}
</html>
